{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}Archiwum{% endblock %}

{% block extrahead %}
<script src="{% static 'Hotel/js/jquery-1.10.2.js' %}"></script>

<script>
$(document).ready(function() {
    $(".dropdown-list > .list-body > .object-header").click(function() {
        $(".expanded").prev().not(this).next().toggleClass("expanded").toggleClass("collapsed")
            .find(".object-content-content").slideToggle("medium");
        $(this).next().toggleClass("collapsed").toggleClass("expanded")
            .find(".object-content-content").slideToggle("medium");
    });

    $(".filter").click(function() {
        // Zamknijmy wszystko co jest otworzone
        $(".expanded").toggleClass("collapsed").toggleClass("expanded").find(".object-content-content").toggle()

        // Pokazujemy wszystko co bylo ukryte do tej pory
        // Jesli ktos filtruje drugi raz powinien dostac wyniki nie z tego co jest obecnie ale ze wszystkiego
        $(".object-header").show();
        $(".object-content").show();

        if ($(".filter-term").val().length != 0) {
            $(".object-content").each(function() {
                var found = false;

                // Szukamy podanej wartosci w polach rezerwacji
                $(this).find(".rezerwacja").find(".field").each(function() {
                    if ($(this).text().toUpperCase().indexOf($(".filter-term").val().toUpperCase()) != -1) {
                        found = true;

                        // Zwrocenie false breakuje each. Jak znajdziemy szukana wartosc to nie przelatujemy bez sensu
                        // reszty pol
                        return false;
                    }
                });

                // Szukamy wartosci w nazwach uslug
                $(this).find(".uslugi").find(".label").each(function() {
                    if ($(this).text().toUpperCase().indexOf($(".filter-term").val().toUpperCase()) != -1) {
                        found = true;

                        // Return false j/w
                        return false;
                    }
                });

                // Szukamy wartosci w pokojach (tam gdzie jest numer - rozmiar pokoju)
                $(this).find(".pokoje").find(".label").each(function() {
                    if ($(this).text().toUpperCase().indexOf($(".filter-term").val().toUpperCase()) != -1) {
                        found = true

                        // Return false j/w
                        return false;
                    }
                });

                // Jesli fraza nie zostala znaleziona to ukrywamy calkowicie dana rezerwacje
                if (!found) {
                    $(this).hide()
                    $(this).prev().hide()
                }
            });
        }
    });

    $(".reset").click(function() {
        $(".expanded").toggleClass("collapsed").toggleClass("expanded").find(".object-content-content").toggle()
        $(".object-header").show();
        $(".object-content").show();
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}

    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
    <a href="../">{% trans 'Hotel' %}</a> &rsaquo;
    {% trans 'Archiwum' %}
    </div>

{% endblock %}

{% block content_title %}<h1>{% trans 'Archiwum' %}</h1>{% endblock %}

{% block content %}

<div id="archive">

    {% if rezerwacje %}
    <div class="search-filter-wrapper">
        <input class="filter-term">
        <button class="filter">{% trans 'Filtruj' %}</button>
        <button class="reset">{% trans 'Reset' %}</button>
    </div>

    {% trans 'Nazwisko' as name %}
    {% trans 'Poczatek pobytu' as check_in_date %}
    {% trans 'Koniec pobytu' as check_out_date %}
    <table class="dropdown-list">
        <thead class="list-head">
            <tr>
                <th>{{ name }}</th>
                <th>{{ check_in_date }}</th>
                <th>{{ check_out_date }}</th>
                <th>{% trans 'Pokoje na rezerwacji' %}</th>
            </tr>
        </thead>
        <tbody class="list-body">
        {% for rezerwacja in rezerwacje %}
            <tr class="object-header">
                <td>{{ rezerwacja.nazwisko }}</td>
                <td>{{ rezerwacja.poczatek_pobytu }}</td>
                <td>{{ rezerwacja.koniec_pobytu }}</td>
                <td>{{ rezerwacja.pokoje_verbose }}</td>
            </tr>
            <tr class="object-content collapsed">
                <td colspan="4">
                    <div class="object-content-content">
                        <div class="rezerwacja content-section content-top-section">
                            <div class="content-row">
                                <span class="label">{{ check_in_date }}: </span>
                                <span class="field">{{ rezerwacja.poczatek_pobytu }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{{ check_out_date }}: </span>
                                <span class="field">{{ rezerwacja.koniec_pobytu }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{{ name }}: </span>
                                <span class="field">{{ rezerwacja.nazwisko }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{% trans 'E-mail' %}: </span>
                                <span class="field">{{ rezerwacja.email }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{% trans 'Telefon' %}: </span>
                                <span class="field {% if not rezerwacja.telefon %}empty{% endif %}">
                                    {% if rezerwacja.telefon %}
                                    {{ rezerwacja.telefon }}
                                    {% else %}
                                    {% trans '(nie podano)' %}
                                    {% endif %}
                                </span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{% trans 'Dodatkowe instrukcje' %}: </span>
                                <span class="field {% if not rezerwacja.dodatkowe_instrukcje %}empty{% endif %}">
                                    {% if rezerwacja.dodatkowe_instrukcje %}
                                    {{ rezerwacja.dodatkowe_instrukcje }}
                                    {% else %}
                                    {% trans '(nie podano)' %}
                                    {% endif %}
                                </span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{% trans 'Kod' %}: </span>
                                <span class="field">{{ rezerwacja.kod }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{% trans 'Notatka' %}: </span>
                                <span class="field {% if not rezerwacja.notatka %}empty{% endif %}">
                                    {% if rezerwacja.notatka %}
                                    {{ rezerwacja.notatka }}
                                    {% else %}
                                    {% trans '(nie podano)' %}
                                    {% endif %}
                                </span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{% trans 'Cena dorosly' %}: </span>
                                <span class="field">{{ rezerwacja.cena_dorosly }} zl</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{% trans 'Cena dziecko' %}: </span>
                                <span class="field">{{ rezerwacja.cena_dziecko }} zl</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">{% trans 'Wartosc rezerwacji' %}: </span>
                                <span class="field">{{ rezerwacja.wartosc_rezerwacji }} zl</span>
                            </div> <!-- .content-row -->
                        </div> <!-- .rezerwacja -->

                        <div class="uslugi content-section">
                            <h2>{% trans 'Uslugi' %}</h2>
                            {% if rezerwacja.usluganarezerwacji_set.all %}
                            {% for usluga in rezerwacja.usluganarezerwacji_set.all %}
                            <div class="content-row">
                                <span class="label">{{ usluga.usluga.nazwa }}: </span>
                                <span class="field">{% if usluga.cena %}{{ usluga.cena }}{% else %}0{% endif %} zl</span>
                            </div> <!-- .content-row -->
                            {% endfor %}
                            {% else %}
                            <div class="content-row">
                                <span class="field empty">{% trans 'Brak uslug' %}</span>
                            </div>
                            {% endif %}
                        </div> <!-- .uslugi -->

                        <div class="pokoje content-section">
                            <h2>{% trans 'Pokoje' %}</h2>
                            {% if rezerwacja.pokojnarezerwacji_set.all %}
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th class="label-column">{% trans 'Pokoj' %}</th>
                                        <th>{% trans 'Doroslych' %}</th>
                                        <th>{% trans 'Dzieci' %}</th>
                                        <th>{% trans 'Cena' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pokoj in rezerwacja.pokojnarezerwacji_set.all %}
                                    <tr>
                                        <td class="label">{% blocktrans with numer=pokoj.pokoj.numer rozmiar=pokoj.pokoj.rozmiar %}Numer {{ numer }} (rozmiar {{ rozmiar }}){% endblocktrans %}:</td>
                                        <td class="people">{{ pokoj.doroslych }}</td>
                                        <td class="people">{{ pokoj.dzieci }}</td>
                                        <td class="price">{{ pokoj.cena }} zl</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <div class="content-row">
                                <span class="field empty">{% trans 'Brak pokojow' %}</span>
                            </div>
                            {% endif %}
                        </div> <!-- .pokoje -->
                    </div> <!-- .rezerwacja-content-content -->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="no-archive">{% trans '0 Rezerwacji' %}</div>
    {% endif %}

</div> <!-- #archive -->

{% endblock %}