{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}Archiwum{% endblock %}

{% block extrahead %}
<script src="{% static 'Hotel/js/jquery-1.10.2.js' %}"></script>

<script>
$(document).ready(function() {
    $(".dropdown-list > .list-body > .object-header").click(function() {
        $(".expanded").prev().not(this).next().toggleClass("expanded").toggleClass("collapsed")
            .find(".object-content-content").slideToggle("medium");
        $(this).next().toggleClass("collapsed").toggleClass("expanded")
            .find(".object-content-content").slideToggle("medium");
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}

    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
    <a href="../">{% trans 'Hotel' %}</a> &rsaquo;
    {% trans 'Archiwum' %}
    </div>

{% endblock %}

{% block content_title %}<h1>Archiwum</h1>{% endblock %}

{% block content %}

<div id="archive">

    <table class="dropdown-list">
        <thead class="list-head">
            <tr>
                <th>Nazwisko</th>
                <th>Poczatek pobytu</th>
                <th>Koniec pobytu</th>
                <th>Pokoje na rezerwacji</th>
            </tr>
        </thead>
        <tbody class="list-body">
        {% if rezerwacje %}
        {% for rezerwacja in rezerwacje %}
            <tr class="object-header">
                <td>{{ rezerwacja.nazwisko }}</td>
                <td>{{ rezerwacja.poczatek_pobytu }}</td>
                <td>{{ rezerwacja.koniec_pobytu }}</td>
                <td>{{ rezerwacja.pokoje_verbose }}</td>
            </tr>
            <tr class="object-content collapsed">
                <td colspan="4">
                    <div class="object-content-content">
                        <div class="rezerwacja content-section content-top-section">
                            <div class="content-row">
                                <span class="label">Poczatek pobytu: </span>
                                <span class="field">{{ rezerwacja.poczatek_pobytu }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Koniec pobytu: </span>
                                <span class="field">{{ rezerwacja.koniec_pobytu }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Nazwisko: </span>
                                <span class="field">{{ rezerwacja.nazwisko }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">E-mail: </span>
                                <span class="field">{{ rezerwacja.email }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Telefon: </span>
                                <span class="field {% if not rezerwacja.telefon %}empty{% endif %}">
                                    {% if rezerwacja.telefon %}
                                    {{ rezerwacja.telefon }}
                                    {% else %}
                                    (nie podano)
                                    {% endif %}
                                </span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Dodatkowe instrukcje: </span>
                                <span class="field {% if not rezerwacja.dodatkowe_instrukcje %}empty{% endif %}">
                                    {% if rezerwacja.dodatkowe_instrukcje %}
                                    {{ rezerwacja.dodatkowe_instrukcje }}
                                    {% else %}
                                    (nie podano)
                                    {% endif %}
                                </span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Kod: </span>
                                <span class="field">{{ rezerwacja.kod }}</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Notatka: </span>
                                <span class="field {% if not rezerwacja.notatka %}empty{% endif %}">
                                    {% if rezerwacja.notatka %}
                                    {{ rezerwacja.notatka }}
                                    {% else %}
                                    (nie podano)
                                    {% endif %}
                                </span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Cena dorosly: </span>
                                <span class="field">{{ rezerwacja.cena_dorosly }} zl</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Cena dziecko: </span>
                                <span class="field">{{ rezerwacja.cena_dziecko }} zl</span>
                            </div> <!-- .content-row -->
                            <div class="content-row">
                                <span class="label">Wartosc rezerwacji: </span>
                                <span class="field">{{ rezerwacja.wartosc_rezerwacji }} zl</span>
                            </div> <!-- .content-row -->
                        </div> <!-- .rezerwacja -->

                        <div class="uslugi content-section">
                            <h2>Uslugi</h2>
                            {% if rezerwacja.usluganarezerwacji_set.all %}
                            {% for usluga in rezerwacja.usluganarezerwacji_set.all %}
                            <div class="content-row">
                                <span class="label">{{ usluga.usluga.nazwa }}: </span>
                                <span class="field">{% if usluga.cena %}{{ usluga.cena }}{% else %}0{% endif %} zl</span>
                            </div> <!-- .content-row -->
                            {% endfor %}
                            {% else %}
                            <div class="content-row">
                                <span class="field empty">Brak uslug</span>
                            </div>
                            {% endif %}
                        </div> <!-- .uslugi -->

                        <div class="pokoje content-section">
                            <h2>Pokoje</h2>
                            {% if rezerwacja.pokojnarezerwacji_set.all %}
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th class="label-column">Pokoj</th>
                                        <th>Doroslych</th>
                                        <th>Dzieci</th>
                                        <th>Cena</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pokoj in rezerwacja.pokojnarezerwacji_set.all %}
                                    <tr>
                                        <td class="label">Numer {{ pokoj.pokoj.numer }} (rozmiar {{ pokoj.pokoj.rozmiar }}):</td>
                                        <td class="people">{{ pokoj.doroslych }}</td>
                                        <td class="people">{{ pokoj.dzieci }}</td>
                                        <td class="price">{{ pokoj.cena }} zl</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <div class="content-row">
                                <span class="field empty">Brak pokojow</span>
                            </div>
                            {% endif %}
                        </div> <!-- .pokoje -->
                    </div> <!-- .rezerwacja-content-content -->
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

</div> <!-- #archive -->

{% endblock %}