<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="Hotel, Messiah" />
    <meta name="description" content="Opis hotelu TODO" />
    <link rel="stylesheet/less" type="text/css" href="{% static 'Hotel/main.less' %}" />
</head>

<body>

    <div class="page">

        {% include "Hotel/header.html" %}

        {% block content %}
        {% endblock %}

        {% include "Hotel/footer.html" %}

    </div> <!-- .page -->

    <script src="{% static 'Hotel/js/less.js' %}" type="text/javascript"></script>
    <script src="{% static 'Hotel/js/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'Hotel/js/jquery-ui.js' %}"></script>
    <script src="{% static 'Hotel/js/scripts.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>

</html>