<!DOCTYPE html>
{% load i18n staticfiles %}
<!--[if lt IE 9]> <html class="ie8"> <![endif]-->
<!--[if lt IE 10]> <html class="ie9"> <![endif]-->
<!--[if IE 10]><!--> <html>         <!--<![endif]-->
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="Hotel, Messiah" />
    <meta name="description" content="Opis hotelu TODO" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=1" />
    <link rel="stylesheet/less" type="text/css" href="{% static 'Hotel/main.less' %}" />
    <script src="{% static 'Hotel/js/es5-shim.js' %}"></script>
    <script src="{% static 'Hotel/js/jquery-1.10.2.js' %}"></script>
    <!-- [if lt IE 10]>
    <script src="{% static 'Hotel/js/PIE.js' %}"></script>
    <![endif -->
    {% block pricing %}{% endblock %}
</head>

<body>

    <div class="overlay"></div>

    <div class="page">

        {% include "Hotel/header.html" %}

        {% block content %}
        {% endblock %}

        {% include "Hotel/footer.html" %}

    </div> <!-- .page -->

    <script src="{% static 'Hotel/js/less.js' %}" type="text/javascript"></script>
    <script src="{% static 'Hotel/js/scripts.js' %}"></script>
    <script src="{% static 'Hotel/js/jquery-ui.js' %}"></script>
    <!-- zmiana jezyka z headera -->
    <script>
        $(".language-send").click(function() {
            $(".language-form").submit();
        });
    </script>
    {% block scripts %}{% endblock %}

</body>

</html>