{% extends "Hotel/base.html" %}

{% load i18n staticfiles %}

{% block pricing %}
    <link rel="stylesheet" type="text/css" href="{% static 'Hotel/jquery-ui-1.10.3.custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Hotel/jquery.fancybox.css' %}">
{% endblock %}

{% block title %}{% trans 'Hotel Messiah - Cennik' %}{% endblock %}


{% block content %}
<div id="pricing">

    <div class="title">

        <h1>{% trans 'Cennik' %}</h1>

    </div><!-- .title -->

    <div class="pricing-content">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-1">{% trans 'Pokoje' %}</a></li>
                <li><a href="#tabs-2">{% trans 'Menu' %}</a></li>
                <li><a href="#tabs-3">{% trans 'Usługi' %}</a></li>
            </ul>

            <div id="tabs-1" class="tab-content">
                <h2>{% trans 'Cena za osobę' %}:</h2>
                <ul>
                    <li><p>{% blocktrans %}Dorosły  --  {{ cena_dorosly }} zł{% endblocktrans %}.</p></li>
                    <li><p>{% blocktrans %}Dziecko  --  {{ cena_dziecko }} zł{% endblocktrans %}.</p></li>
                </ul>
                {% if ceny_pokojow %}
                <h2>{% trans 'Dostępne są pokoje w następujących rozmiarach' %}:</h2>
                <ul>
                    {% for p in ceny_pokojow %}
                    <li><p>{% blocktrans with rozmiar=p.rozmiar cena=p.cena %}{{ rozmiar }}-osobowy  --  {{ cena }} zł{% endblocktrans %}</p></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div><!-- #tabs-1 -->

            <div id="tabs-2" class="tab-content">

                <div class="nav">
                    {% for kategoria in kategorie %}

                        <a href="#{{ kategoria.pk }}">{{ kategoria.nazwa }}</a>

                    {% endfor %}
                </div>

                {% for kategoria in kategorie %}

                <h2><a id="{{ kategoria.pk }}">{{ kategoria.nazwa }}</a></h2>
                <p>{{ kategoria.opis }}</p>

                {% for zarcie in jedzenie %}
                {% if zarcie.kategoria == kategoria %}
                <ul>
                    <li class="inline-block"><p>{{ zarcie.nazwa }} -</p></li>
                    <li class="inline-block"><p>{{ zarcie.cena }} zł</p></li>
                    {% if zarcie.opis %}
                    <li class="description"><p>( {{ zarcie.opis }} )</p></li>
                    {% endif %}
                    {% if zarcie.zdjecie %}
                    <li class="pic"><a class="fancybox" href="{{ zarcie.zdjecie.url }}" rel="lightbox" ><img src="{{ zarcie.zdjecie.url }}"></a></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% endfor %}

                {% endfor %}

            </div><!-- #tabs-2 -->

            {% trans 'Dostepna' as available %}
            {% trans 'Niedostepna' as unavailable %}
            <div id="tabs-3" class="tab-content">

                <h2>{% trans 'Usługi świadczone przez hotel' %}:</h2>

                <div class="wewnetrzne">

                    <ul>
                        {% for usluga in uslugi_wewnetrzne %}

                        <li>
                            <div class="nazwa"><p>{{ usluga.nazwa }}</p></div>
                            <div class="cena"><p>{{ usluga.cena }} zł</p></div>
                            <div class="opis"><p>{{ usluga.opis }}</p></div>
                            <div class="dostepnosc">{% if usluga.dostepnosc %}{{ available }}{% else %} {{ unavailable }} {% endif %}</div>
                        </li>

                        {% endfor %}
                    </ul>

                </div> <!-- .wewnetrzne -->

                <h2>{% trans 'Usługi zewnętrzne' %}:</h2>

                <div class="zewnetrzne">

                    <ul>
                        {% for usluga in uslugi_zewnetrzne %}

                        <li>
                            <div class="nazwa"><p>{{ usluga.nazwa }}</p></div>
                            <div class="cena"><p>{{ usluga.cena }} zł</p></div>
                            <div class="opis"><p>{{ usluga.opis }}</p></div>
                            <div class="dostepnosc">{% if usluga.dostepnosc %}{{ available }}{% else %} {{ unavailable }} {% endif %}</div>
                        </li>

                        {% endfor %}
                    </ul>

                </div> <!-- .zewnetrzne -->

            </div><!-- #tabs-3 -->

        </div><!-- #tabs -->

        <a href="#" class="scroll-up" >Scroll</a>

    </div><!-- .pricing-content -->

</div><!-- #pricing -->
{% endblock %}

{% block scripts %}

    <script src="{% static 'Hotel/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'Hotel/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'Hotel/js/jquery-ui.js' %}"></script>

    <script>
        $(function(){
            $("#tabs").tabs();
        });

        $(document).ready(function() {

            $(".fancybox").fancybox({
                'titleShow'     : false,
                'easingIn'      : 'easeOutBack',
                'easingOut'     : 'easeInBack'
            });

        });

        $(".cennik_class").addClass("selected");
    </script>

{% endblock %}