{% extends "Hotel/base.html" %}

{% load staticfiles %}

{% block pricing %}
    <link rel="stylesheet" type="text/css" href="{% static 'Hotel/jquery-ui-1.10.3.custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Hotel/jquery.fancybox.css' %}">
{% endblock %}

{% block title %}Hotel Messiah - Cennik{% endblock %}


{% block content %}
<div id="pricing">

    <div class="title">

        <h1>Cennik</h1>

    </div><!-- .title -->

    <div class="pricing-content">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-1">Pokoje</a></li>
                <li><a href="#tabs-2">Menu</a></li>
                <li><a href="#tabs-3">Usługi</a></li>
            </ul>

            <div id="tabs-1" class="tab-content">
                <h2>Cena za osobę:</h2>
                <ul>
                    <li><p>Dorosły  --  {{ cena_dorosly }} zł.</p></li>
                    <li><p>Dziecko  --  {{ cena_dziecko }} zł.</p></li>
                </ul>
                {% if ceny_pokojow %}
                <h2>Dostępne są pokoje w następujących rozmiarach:</h2>
                <ul>
                    {% for p in ceny_pokojow %}
                    <li><p>{{ p.rozmiar }}-osobowy  --  {{ p.cena }} zł</p></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div><!-- #tabs-1 -->

            <div id="tabs-2" class="tab-content">

                <div class="nav">
                    {% for kategoria in kategorie %}

                        <a href="#{{ kategoria.pk }}">{{ kategoria.nazwa }}</a>

                    {% endfor %}
                </div>

                {% for kategoria in kategorie %}

                <h2><a id="{{ kategoria.pk }}">{{ kategoria.nazwa }}</a></h2>
                <p>{{ kategoria.opis }}</p>

                {% for zarcie in jedzenie %}
                {% if zarcie.kategoria == kategoria %}
                <ul>
                    <li class="inline-block"><p>{{ zarcie.nazwa }} -</p></li>
                    <li class="inline-block"><p>{{ zarcie.cena }} zł</p></li>
                    {% if zarcie.opis %}
                    <li class="description"><p>( {{ zarcie.opis }} )</p></li>
                    {% endif %}
                    {% if zarcie.zdjecie %}
                    <li class="pic"><a class="fancybox" href="{{ zarcie.zdjecie.url }}" rel="lightbox" ><img src="{{ zarcie.zdjecie.url }}"></a></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% endfor %}

                {% endfor %}

            </div><!-- #tabs-2 -->

            <div id="tabs-3" class="tab-content">

                <h2>Usługi świadczone przez hotel:</h2>

                <div class="wewnetrzne">

                    <ul>
                        {% for usluga in uslugi_wewnetrzne %}

                        <li>
                            <div class="nazwa"><p>{{ usluga.nazwa }}</p></div>
                            <div class="cena"><p>{{ usluga.cena }} zł</p></div>
                            <div class="opis"><p>{{ usluga.opis }}</p></div>
                            <div class="dostepnosc">{% if usluga.dostepnosc %}Dostępna{% else %} Niedostępna {% endif %}</div>
                        </li>

                        {% endfor %}
                    </ul>

                </div> <!-- .wewnetrzne -->

                <h2>Usługi zewnętrzne:</h2>

                <div class="zewnetrzne">

                    <ul>
                        {% for usluga in uslugi_zewnetrzne %}

                        <li>
                            <div class="nazwa"><p>{{ usluga.nazwa }}</p></div>
                            <div class="cena"><p>{{ usluga.cena }} zł</p></div>
                            <div class="opis"><p>{{ usluga.opis }}</p></div>
                            <div class="dostepnosc">{% if usluga.dostepnosc %}Dostępna{% else %} Niedostępna {% endif %}</div>
                        </li>

                        {% endfor %}
                    </ul>

                </div> <!-- .zewnetrzne -->

            </div><!-- #tabs-3 -->

        </div><!-- #tabs -->

        <a href="#" class="scroll-up" >Scroll</a>

    </div><!-- .pricing-content -->




</div><!-- #pricing -->
{% endblock %}

{% block scripts %}

    <script src="{% static 'Hotel/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'Hotel/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'Hotel/js/jquery-ui.js' %}"></script>

    <script>
        $(function(){
            $("#tabs").tabs();
        });

        $(document).ready(function() {

            $(".fancybox").fancybox({
                'titleShow'     : false,
                'easingIn'      : 'easeOutBack',
                'easingOut'     : 'easeInBack'
            });

        });
    </script>

{% endblock %}