{% load staticfiles %}
<div id="footer">

    <div class="footer-wrapper">

        <ul class="address">
            <li>{{ footer_adres }}</li>
            <li>tel. {{ footer_telefon }}</li>
            <li>e-mail: {{ footer_email }}</li>
        </ul>

        <ul class="submenu">
            <li><a href="{% url 'hotel:glowna' %}">Strona glowna</a></li>
            <li><a href="{% url 'hotel:rezerwacje' %}">Rezerwacje</a></li>
            <li><a href="{% url 'hotel:wizualizacja' %}">Galeria</a></li>
            <li><a href="{% url 'hotel:kontakt' %}">Kontakt</a></li>
        </ul>

        <div class="socials">
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google_plusone_share"></a>
            </div>
            <script type="text/javascript"
                    src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-525e6a173f1b6e62">
            </script>
            <p>Copyright &copy; 2013 Hotel Messiah</p>
        </div>

    </div>

</div> <!-- #footer -->