{% load i18n staticfiles %}
<div id="footer">

    <script type="text/javascript">var switchTo5x=false;</script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
        stLight.options({
            publisher: "1235",
            doNotHash: true,
            doNotCopy: true,
            hashAddressBar: false
        });
    </script>

    <div class="footer-wrapper">

        {% if footer_adres %}

        <ul class="address">
            <li>{{ footer_adres }}</li>
            <li>tel. {{ footer_telefon }}</li>
            <li>e-mail: {{ footer_email }}</li>
        </ul>

        {% endif %}

        <ul class="submenu">
            <li><a href="{% url 'hotel:glowna' %}">{% trans 'Strona glowna' %}</a></li>
            <li><a href="{% url 'hotel:rezerwacje' %}">{% trans 'Rezerwacje' %}</a></li>
            <li><a href="{% url 'hotel:wizualizacja' %}">{% trans 'Galeria' %}</a></li>
            <li><a href="{% url 'hotel:kontakt' %}">{% trans 'Kontakt' %}</a></li>
        </ul>

        <div class="socials">
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_pinterest_large' displayText='Pinterest'></span>
            <p>{% blocktrans with copyright='&copy' %}Copyright {{ copyright }}; 2013 Hotel Messiah{% endblocktrans %}</p>
        </div>

    </div>

</div> <!-- #footer -->