{% load staticfiles %}
<div id="footer">

    <div class="footer-wrapper">

        <ul class="address">
            <li>{{ footer_adres }}</li>
            <li>tel. {{ footer_telefon }}</li>
            <li>e-mail: {{ footer_email }}</li>
        </ul>

        <ul class="submenu">
            <li><a href="{% url 'hotel:glowna' %}">Strona glowna</a></li>
            <li><a href="{% url 'hotel:rezerwacje' %}">Rezerwacje</a></li>
            <li><a href="{% url 'hotel:wizualizacja' %}">Galeria</a></li>
            <li><a href="{% url 'hotel:kontakt' %}">Kontakt</a></li>
        </ul>

        <div class="socials">

            <p>Copyright &copy; 2013 Hotel Messiah</p>
        </div>

    </div>

</div> <!-- #footer -->