{% load staticfiles %}
<div id="header">

    <a href="/"><img src="{% static 'Hotel/img/placeholder.png' %}"/></a>
    <div class="ad-text">
        <p>Przykladowy tekst reklamowyPrzykladowy tekst reklamowyPrzykladowy tekst reklamowy</p>
    </div> <!-- .ad-text -->

    <ul>
        <li><a href="/">Strona glowna</a></li><!--
        --><li><a href="/rezerwacje">Rezerwacje</a></li><!--
        --><li><a href="">Aparatamenty i restauracje</a></li><!--
        --><li><a href="">Kontakt</a></li>
    </ul>

</div> <!-- #header -->