{% load staticfiles %}
<div id="header">

    <div class="header-wrapper {{ header_logo_rozmiar }} {{ header_tekst_polozenie }}">
        {% if header_tekst_widoczny %}
        {% if header_tekst_polozenie == 'tekst-gora' or header_tekst_polozenie == 'tekst-lewa' %}
        <div class="logo-text {{ header_tekst_polozenie }}">
            <p>{{ header_tekst }}</p>
        </div> <!-- .logo-text -->
        {% if header_tekst_polozenie == 'tekst-gora' %}<br />{% endif %}
        {% endif %}
        {% endif %}

        {% if header_logo %}
        <a href="{% url 'hotel:glowna' %}" class="{{ header_logo_rozmiar }}"><img src="{{ header_logo.url }}"/></a>
        {% endif %}

        {% if header_tekst_widoczny %}
        {% if header_tekst_polozenie == 'tekst-dol' or header_tekst_polozenie == 'tekst-prawa' %}
        {% if header_tekst_polozenie == 'tekst-dol' %}<br />{% endif %}
        <div class="logo-text {{ header_tekst_polozenie }}">
            <p>{{ header_tekst }}</p>
        </div> <!-- .logo-text -->
        {% endif %}
        {% endif %}

    </div> <!-- .header-wrapper -->

    <div class="menu-wrapper">

        <ul class="outside">
            <li><a class="main_page_class" href="{% url 'hotel:glowna' %}">Strona glowna</a></li><!--
            --><li><a class="rezerwacje_class" href="{% url 'hotel:rezerwacje' %}">Zarezerwuj</a><!--
                --><ul>
                    <li><a class="rezerwacje_istniejace_class" href="{% url 'hotel:rezerwacje_istnieje' %}">Mam juz rezerwacje</a></li>
                </ul>
            </li><!--
            --><li><a class="cennik_class" href="{% url 'hotel:cennik' %}">Cennik</a></li><!--
            --><li><a class="wizualizacja_class" href="{% url 'hotel:wizualizacja' %}">Wizualizacja</a></li><!--
            --><li><a class="kontakt_class" href="{% url 'hotel:kontakt' %}">Kontakt</a></li>
        </ul>

    </div> <!-- .menu-wrapper -->

</div> <!-- #header -->