{% load staticfiles %}
<div id="header">

    <div class="header-wrapper">

        <a href="/"><img src="{% static 'Hotel/img/logo.png' %}"/></a>
        <div class="ad-text">
            <p>Przykladowy tekst reklamowyPrzykladowy tekst reklamowyPrzykladowy tekst reklamowy</p>
        </div> <!-- .ad-text -->

    </div> <!-- .header-wrapper -->

    <ul>
        <li><a class="main_page_class" href="/">Strona glowna</a></li><!--
        --><li><a class="rezerwacje_class" href="/rezerwacje">Rezerwacje</a></li><!--
        --><li><a class="cennik_class" href="/cennik">Cennik</a></li><!--
        --><li><a class="kontakt_class" href="">Kontakt</a></li>
    </ul>

</div> <!-- #header -->