{% extends "Hotel/base.html" %}

{% load staticfiles %}

{% block title %}Hotel Messiah{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'Hotel/jquery.bxslider.css' %}" type="text/css">

<div id="main">

    <div class="title">
        <h1>Strona glowna</h1>
    </div> <!-- .title -->

    <div class="main-content">

        <div class="description">
            <p><img src="{% if zdjecie %}{{ zdjecie.url }}{% endif %}" alt="Hotel Messiah"/>{{ opis_hotelu }}</p>
        </div> <!-- .description -->

        {% if zdjecia_hotelu %}

        <div class="gallery">

            <ul class="bxslider">
                {% for zdjecie in zdjecia_hotelu %}
                    <li><img src="{{ zdjecie.zdjecie.url }}" alt="Hotel"/></li>
                {% endfor %}
            </ul>

        </div> <!-- .gallery -->

        {% endif %}

    </div> <!-- .main-content -->

</div> <!-- #main -->

<script src="{% static 'Hotel/js/jquery.bxslider.js' %}"></script>

<script>
$(document).ready(function() {
    $(".bxslider").bxSlider({
        adaptiveHeight: true,
    });
});

$(".main_page_class").addClass("selected");
</script>

{% endblock %}