{% extends "Hotel/base.html" %}

{% block title %}Hotel Messiah{% endblock %}

{% block content %}

<div id="main">

    <div class="title">
        <h1>Strona glowna</h1>
    </div> <!-- .title -->

    <div class="main-content">

        <div class="description">
            <p><img src="{% if zdjecie.url %}{{ zdjecie.url }}{% endif %}" alt="Hotel Messiah"/>{{ opis_hotelu }}</p>
        </div>

        <div class="gallery">

        </div>

    </div> <!-- .main-content -->

</div> <!-- #main -->

{% endblock %}