{% extends "Hotel/base.html" %}

{% load staticfiles %}


{% block title %}Hotel Messiah - Kontakt{% endblock %}


{% block content %}
<div id="contact">

    <div class="title">

        <h1>Kontakt</h1>

    </div><!-- .title -->

    <div class="wrapper">

        <div class="contact-wrapper">

            <div class="contact-info">

                {% if adres %}<p><strong>Adres:</strong> {{ adres }}</p>{% endif %}
                {% if telefon %}<p><strong>Telefon:</strong> {{ telefon }}</p>{% endif %}
                {% if email %}<p><strong>E-mail:</strong> <a href="mailto:{{ email }}">{{ email }}</a></p>{% endif %}
                {% if facebook %}<p><strong>Facebook:</strong> <a href="{{ facebook }}">{{ facebook }}</a></p>{% endif %}
                {% if twitter %}<p><strong>Twitter:</strong> <a href="{{ twitter }}">{{ twitter }}</a></p>{% endif %}
                {% if skype %}<p><strong>Skype:</strong> {{ skype }}</p>{% endif %}
                {% if gadu %}<p><strong>Gadu-Gadu:</strong> {{ gadu }}</p>{% endif %}

            </div><!-- .contact-info -->

            <div class="google-map">
                {% if html_mapy_google %}{{ html_mapy_google|safe }}{% endif %}
            </div><!-- .google-map -->

        </div><!-- .contact-wrapper -->

        <div class="message">

            <h2>Napisz do nas!</h2>

             <form action="{% url 'hotel:wiadomosc_wyslij' %}" method="post">
                {% csrf_token %}

                <div class="textarea-wrapper">
                    <textarea name="tresc" cols="" rows="" id="messagebox" placeholder="Tutaj wpisz treść swojej wiadomości." required ></textarea>
                </div><!-- .textarea-wrapper -->
                <div class="field-wrapper">
                    <div><input type="email" name="email" placeholder="Twoj adres e-mail." required /></div>
                </div><!-- .field-wrapper -->
                <div class="field-wrapper">
                    <div><input type="text" name="name" placeholder="Miejsce na nazwisko." required /></div>
                </div><!-- .field-wrapper -->
                <a class="send">Wyślij</a>

             </form>

        </div><!-- .message -->

    </div><!-- .wrapper -->

</div><!-- #contact -->

<div class="success">

    <p></p>
    <span class="close"/>

</div> <!-- .success -->

{% endblock %}

{% block scripts %}

<script src="{% static 'Hotel/js/jquery.form.js' %}"></script>
<script src="{% static 'Hotel/js/wiadomosc.js' %}"></script>

<script>

$(".send").click(function() {
    if(validateContent($('textarea[name=tresc]')) && validateName($('input[name=name]')) && validateEmail($('input[name=email]'))) {
        $("form").ajaxForm(function(data) {
            var parsed = $.parseJSON(data);

            if(parsed["message"] && parsed["message"] == "success") {
                $(".success p").html("Wiadomosc zostala wyslana!<br /><br />Dziekujemy za kontakt!");
                $('textarea[name=tresc], input[name=name], input[name=email]').val('');
            }
            else if (parsed["message"] && parsed["message"] == "site_error") {
                $(".success p").html("Serwer otrzymal uszkodzone dane.");
            } else {
                $(".success p").html("Stalo sie cos czego nawet programista nie przewidzial.");
            }
            $(".success").fadeIn(200);
            $(".overlay").fadeIn(200);
        });
        $("form").submit();
    }
});

$(".overlay").click(function() {
    $(".success").fadeOut(200);
    $(".overlay").fadeOut(200);
});

$(".close").click(function() {
    $(".success").fadeOut(200);
    $(".overlay").fadeOut(200);
});

$(".kontakt_class").addClass("selected");

</script>

{% endblock %}


