{% extends "Hotel/base.html" %}

{% load staticfiles %}

{% block title %}Hotel Messiah - Rezerwacje{% endblock %}

{% block content %}

<div id="reservations">

    <div class="title">
        <h1>Rezerwacje</h1>
    </div> <!-- .title -->

    <div class="reservations-content">

        <form action="{% url 'hotel:rezerwacje_wyslij' %}" method="post" class="resform">
            {% csrf_token %}

            <table>
                <tr>
                    <td>Imie i nazwisko:</td>
                    <td colspan="3"><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Telefon:</td>
                    <td colspan="3"><input type="tel" name="tel"></td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td colspan="3"><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>Poczatek pobytu:</td>
                    <td colspan="3"><input class="date-from" type="text" name="date-from"></td>
                </tr>
                <tr>
                    <td>Koniec pobytu:</td>
                    <td colspan="3"><input class="date-to" type="text" name="date-to"></td>
                </tr>
                <tr>
                    <td>Liczba pokoi:</td>
                    <td colspan="3">
                        <select class="rooms" name="rooms">
                            <option value="1">1 Pokoj</option>
                            <option value="2">2 Pokoje</option>
                            <option value="3">3 Pokoje</option>
                        </select>
                    </td>
                </tr>
                <tr class="room1">
                    <td>Dorosli:</td>
                    <td>
                        <select class="adults1" name="adults1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>Dzieci:</td>
                    <td>
                        <select class="kids1" name="kids1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr class="room2">
                    <td>Dorosli:</td>
                    <td>
                        <select class="adults2" name="adults2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>Dzieci:</td>
                    <td>
                        <select class="kids2" name="kids2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr class="room3">
                    <td>Dorosli:</td>
                    <td>
                        <select class="adults3" name="adults3">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>Dzieci:</td>
                    <td>
                        <select class="kids3" name="kids3">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
            </table>

            <div class="calendars">
                <div class="calendar-from">
                    <p>Wybierz date przyjazdu</p>
                    <div class="datepicker-from"></div>
                </div>
                <div class="calendar-to">
                    <p>Wybierz date wyjazdu</p>
                    <div class="datepicker-to"></div>
                </div>

            </div> <!-- .calendars -->

            <!-- klikniecie w clickity wysyla zapytanie sprawdzajace czy zaznaczone pokoje sa ok -->
            <p class="clickity">AJAX</p>
            <!-- w error jest wyswietlany wynik powyzszego zapytania w formie w miare user friendly -->
            <p class="error"></p>

            {% if uslugi_all %}
            <div class="additions">
                <h2>Wybierz dodatki
                    <img src="{% static 'Hotel/img/arrow.png' %}" alt="arrow"/></h2>

                {% if uslugi_wewnetrzne %}
                <div class="in">
                    <h3>Uslugi wewnetrze: </h3>
                    <ul>
                        {% for usluga in uslugi_wewnetrzne %}
                        <label>
                            <input type="checkbox" name="in{{ forloop.counter }}" value="{{ usluga.pk }}"> {{ usluga.nazwa }}
                        </label><br>
                        {% endfor %}
                    </ul>
                </div> <!-- .in -->
                {% endif %} {# if uslugi_wewnetrzne #}

                {% if uslugi_zewnetrzne %}
                <div class="out">
                    <h3>Uslugi zewnetrzne: </h3>
                    <ul>
                        {% for usluga in uslugi_zewnetrzne %}
                        <label>
                            <input type="checkbox" name="out{{ forloop.counter }}" value="{{ usluga.pk }}"> {{ usluga.nazwa }}
                        </label><br>
                        {% endfor %}
                    </ul>
                </div> <!-- .out -->
                {% endif %} {# if uslugi_zewnetrzne #}

            </div> <!-- .additions -->
            {% endif %} {# if uslugi_all #}

            <div class="summary">
                <h3>Twoje zyczenia</h3>
                <textarea name="requests" rows="4" cols="50"></textarea>
                <p>Cena pobytu za wynajem x pokoi na y nocy:
                    <input class="price" type="text" name="price" disabled="disabled"></p>
                <a class="send">Zarezerwuj</a>
            </div> <!-- .summary -->

        </form>

    </div> <!-- .reservations-content -->

    <div class="success">
        No post.
    </div> <!-- .success -->

</div> <!-- .reservations -->

{% endblock %}

{% block scripts %}

<script src="{% static 'Hotel/js/jquery.form.js' %}"></script>

<!-- skrypt powinien w ktoryms momencie wyladowac w osobnym pliku ale poki co nie chce mi sie przenosic -->
<script>
function sprawdzPoprawnosc() {
    toSend = {
            csrfdmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            poczatekPobytu: $('.date-from').val(),
            koniecPobytu: $('.date-to').val(),
            iloscPokojow: $('.rooms').val(),
            dorosli1: $('.adults1').val(),
            dzieci1: $('.kids1').val(),
            dorosli2: $('.adults2').val(),
            dzieci2: $('.kids2').val(),
            dorosli3: $('.adults3').val(),
            dzieci3: $('.kids3').val()
        };
    $.ajax({
        type: "GET",
        dataType: "html",
        url: "{% url 'hotel:rezerwacje_sprawdz' %}",
        data: toSend
    })
        .done(function(data) {
            var parsed = $.parseJSON(data);

            // Patrzymy na tyle pokojow ile mamy zaznaczone i czy sa tam liczby
            var error = "";
            for ( var i = 1; i <= $(".rooms").val(); i++ ) {
                var cur_pokoj = "pokoj" + i
                if (parsed[cur_pokoj]) {
                    if (!$.isNumeric(parsed[cur_pokoj])) {

                        // Jesli w otrzymanym JSONie pod haslem 'pokojN' nie ma liczby (pk pokoju)
                        // to znaczy ze jest jakis blad, wiec wypisujemy stosowny message
                        if (parsed[cur_pokoj] == "not_checked") {
                            error += "Pokoj " + i + " nie zostal zweryfikowany przez serwer.<br />";
                        } else if (parsed[cur_pokoj] == "zero_selected") {
                            error += "W pokoju nr " + i + " jest wybrane 0 osob.<br />";
                        } else if (parsed[cur_pokoj] == "over_max_capacity") {
                            error += "Pokoj " + i + " - za duzo osob.<br />";
                        } else if (parsed[cur_pokoj] == "no_free_rooms") {
                            error += "Pokoj " + i + " - brak wolnych pokojow.<br />";
                        } else {
                            error += "Wystapil blad ktory powinien nie istniec.<br />";
                        }

                    }

                } else {
                    // Mimo zaznaczonej ilosci pokojow z jakiegos powodu nie dostalismy w ogole
                    // informacji o n-tym pokoju od serwera
                    error += "Pokoj " + i + " - blad po stronie serwera.<br />"
                }
            }

            // Jesli byly bledy zwiazane z jakims pokojem to wypisujemy na stronie
            $(".error").html(error);
        })
        .fail(function(xhr, textStatus, errorThrown) {
            alert("Error: " + errorThrown + xhr.status + xhr.responseText);
        });
}

$(".clickity").click(function() {
    sprawdzPoprawnosc();
})

$(".send").click(function() {
    $("form").ajaxForm(function(data) {
        var parsed = $.parseJSON(data);

        if (parsed["message"] && parsed["message"] == "success") {
            if (parsed["kod"]) {
                $(".success").html("Udalo sie zarezerwowac!<br /><br >Twoj kod rezerwacji to: " + parsed["kod"]);
            } else {
                $(".success").html("Udalo sie zarezerwowac!<br /><br >Serwer nie wyslal kodu rezerwacji!");
            }
        } else if (parsed["message"] && parsed["message"] == "validation_error") {
            $(".success").html("Nie mozna zarezerwowac tego pokoju na ten termin.");
        } else if (parsed["message"] && parsed["message"] == "site_error") {
            $(".success").html("Serwer otrzymal uszkodzone dane.");
        } else {
            $(".success").html("Stalo sie cos czego nawet programista nie przewidzial.");
        }
    });
    $("form").submit();
})
</script>

{% endblock %}