{% extends "Hotel/base.html" %}

{% load staticfiles %}

{% block title %}Hotel Messiah - Rezerwacje{% endblock %}

{% block content %}

<link rel="stylesheet/less" type="text/css" href="{% static 'Hotel/jquery-ui-1.10.3.custom.css' %}" />

<div id="reservations">

    <div class="title">
        <h1>Rezerwacje</h1>
    </div> <!-- .title -->

    <div class="reservations-content">

        <form action="{% url 'hotel:rezerwacje_wyslij' %}" method="post" class="resform">
            {% csrf_token %}

            <table>
                <tr>
                    <td>Imie i nazwisko:</td>
                    <td colspan="3"><div><input type="text" name="name"
                            {% if rezerwacja_do_edycji %} value="{{ rezerwacja_do_edycji.nazwisko }}"{% endif %}
                            required autofocus></div></td>
                </tr>
                <tr class="error-row">
                    <td colspan="4"><p class="name-error">Pole nie moze byc puste.</p></td>
                </tr>
                <tr>
                    <td>Telefon:</td>
                    <td colspan="3"><input type="tel" name="tel"
                            {% if rezerwacja_do_edycji %} value="{{ rezerwacja_do_edycji.telefon }}"{% endif %}></td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td colspan="3"><div><input type="email" name="email" placeholder="mail@domain.com"
                            {% if rezerwacja_do_edycji %} value="{{ rezerwacja_do_edycji.email }}"{% endif %}
                            required></div></td>
                </tr>
                <tr class="error-row">
                    <td colspan="4"><p class="email-error">Bledny format maila</p></td>
                </tr>
                <tr>
                    <td>Poczatek pobytu:</td>
                    <td colspan="3"><div><input class="date-from" type="text" name="date-from" required></div></td>
                </tr>
                <tr class="error-row">
                    <td colspan="4"><p class="dateFrom-error"></p></td>
                </tr>
                <tr>
                    <td>Koniec pobytu:</td>
                    <td colspan="3"><div><input class="date-to" type="text" name="date-to"
                            {% if koniec_pobytu %} value="{{ koniec_pobytu }}"{% endif %}
                            required></div></td>
                </tr>
                <tr class="error-row">
                    <td colspan="4"><p class="dateTo-error"></p></td>
                </tr>
                <tr>
                    <td>Liczba pokoi:</td>
                    <td colspan="3">
                        <select class="rooms rooms-select" name="rooms">
                            <option value="1">1 Pokoj</option>
                            <option value="2">2 Pokoje</option>
                            <option value="3">3 Pokoje</option>
                        </select>
                    </td>
                </tr>
                <tr class="room1">
                    <td>Pokoj 1 - Dorosli:</td>
                    <td>
                        <select class="adults1 rooms-select" name="adults1">
                            <option value="0">0</option>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>Dzieci:</td>
                    <td>
                        <select class="kids1 rooms-select" name="kids1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr class="room2">
                    <td>Pokoj 2 - Dorosli:</td>
                    <td>
                        <select class="adults2 rooms-select" name="adults2">
                            <option value="0">0</option>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>Dzieci:</td>
                    <td>
                        <select class="kids2 rooms-select" name="kids2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr class="room3">
                    <td>Pokoj 3 - Dorosli:</td>
                    <td>
                        <select class="adults3 rooms-select" name="adults3">
                            <option value="0">0</option>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>Dzieci:</td>
                    <td>
                        <select class="kids3 rooms-select" name="kids3">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><p class="error"></p></td>
                </tr>
            </table>

            <div class="calendars">
                <span class="change-calendar">Wybierz date wyjazdu</span>
                <div class="calendar-from">
                    <p>Poczatek pobytu:</p>
                    <div class="datepicker-from"></div>
                </div>
                <div class="calendar-to">
                    <p>Koniec pobytu:</p>
                    <div class="datepicker-to"></div>
                </div>

            </div> <!-- .calendars -->

            {% if uslugi_all %}
            <div class="additions">
                <h2>Wybierz dodatki
                    <img src="{% static 'Hotel/img/arrow.png' %}" alt="arrow"/></h2>

                {% if uslugi_wewnetrzne %}
                <div class="in">
                    <h3>Uslugi wewnetrze: </h3>
                    <ul>
                        {% for usluga in uslugi_wewnetrzne %}
                        <label>
                            <input type="checkbox" name="in{{ forloop.counter }}" value="{{ usluga.pk }}"
                                    {% if usluga.pk in uslugi %} checked{% endif %}> {{ usluga.nazwa }}
                        </label><br>
                        {% endfor %}
                    </ul>
                </div> <!-- .in -->
                {% endif %} {# if uslugi_wewnetrzne #}

                {% if uslugi_zewnetrzne %}
                <div class="out">
                    <h3>Uslugi zewnetrzne: </h3>
                    <ul>
                        {% for usluga in uslugi_zewnetrzne %}
                        <label>
                            <input type="checkbox" name="out{{ forloop.counter }}" value="{{ usluga.pk }}"
                                    {% if usluga.pk in uslugi %} checked{% endif %}> {{ usluga.nazwa }}
                        </label><br>
                        {% endfor %}
                    </ul>
                </div> <!-- .out -->
                {% endif %} {# if uslugi_zewnetrzne #}

            </div> <!-- .additions -->
            {% endif %} {# if uslugi_all #}

            <div class="summary">
                <h3>Twoje zyczenia</h3>
                <textarea name="requests" rows="4" cols="50">{% if rezerwacja_do_edycji %}{{ rezerwacja_do_edycji.dodatkowe_instrukcje }}{% endif %}</textarea>
                <h3>Podsumowanie</h3>
                <p>Pokoje: <span class="NoRooms">x</span></br>
                    Noce: <span class="NoNights">y</span></br>
                    Cena: <span class="price">1</span> zl</p>

                <div class="buttons">
                <a class="button send">Zarezerwuj</a>
                {% if rezerwacja_do_edycji %}
                <a class="button cancel">Anuluj rezerwacje</a>
                {% endif %}
                </div> <!-- .buttons -->
            </div> <!-- .summary -->

        </form>

    </div> <!-- .reservations-content -->

</div> <!-- .reservations -->

<div class="success">

    <p></p>
    <span class="close"/>

</div> <!-- .success -->

{% if rezerwacja_do_edycji %}
<div class="cancel-confirm">

    <p>Czy na pewno chcesz anulowac rezrwacje?</p>
    <a class="button confirm-yes">Tak</a>
    <a class="button confirm-no">Nie</a>

</div> <!-- .cancel-confirm -->
{% endif %}

{% endblock %}

{% block scripts %}

<script src="{% static 'Hotel/js/jquery.form.js' %}"></script>
<script src="{% static 'Hotel/js/rezerwacje.js' %}"></script>
<script src="{% static 'Hotel/js/jquery-ui.js' %}"></script>

<script>
var datePassed = false;

{% if rezerwacja_do_edycji %}
datePassed = true;
$(document).ready(function() {
    var currentDate = new Date();
    currentDate.setDate(currentDate.getDate() -1);
    var days = $(".date-from").val().substring(3,5);
    var months = $(".date-from").val().substring(0, 2) - 1;
    var years = $(".date-from").val().substring(6);
    var dateFrom = new Date(years, months, days);
    if (currentDate >= dateFrom) {
        datePassed = true;
        $(".date-from").prop("disabled", true);
        $(".datepicker-from").datepicker("disable");
    } else {
        datePassed = false;
    }
});
{% endif %}

function sprawdzPoprawnosc() {
    var currentDate = new Date();
    currentDate.setDate(currentDate.getDate() -1);
    var days = $(".date-from").val().substring(3,5);
    var months = $(".date-from").val().substring(0, 2) - 1;
    var years = $(".date-from").val().substring(6);
    var dateFrom = new Date(years, months, days);
    var inputFrom = $(".date-from").val();
    if (validateDate(inputFrom, ".dateFrom-error") && currentDate < dateFrom || datePassed) {
        $(".date-from").parent().removeClass("negative-input");
        $(".date-from").parent().addClass("positive-input");
        $(".dateFrom-error").animate({
            "height": "0",
        });
		days = $(".date-to").val().substring(3,5);
        months = $(".date-to").val().substring(0, 2) - 1;
        years = $(".date-to").val().substring(6);
        var dateTo = new Date(years, months, days);
        var inputTo = $(".date-to").val();
        currentDate.setDate(currentDate.getDate() +1);
        if (validateDate(inputTo, ".dateTo-error") && dateFrom < dateTo && currentDate < dateTo) {
            $(".date-to").parent().removeClass("negative-input");
            $(".date-to").parent().addClass("positive-input");

            $(".dateTo-error").animate({
                "height": "0",
            });

            var toSend = {
                    csrfdmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val(),
                    poczatekPobytu: $(".date-from").val(),
                    koniecPobytu: $(".date-to").val(),
                    iloscPokojow: $(".rooms").val(),
                    dorosli1: $(".adults1").val(),
                    dzieci1: $(".kids1").val(),
                    dorosli2: $(".adults2").val(),
                    dzieci2: $(".kids2").val(),
                    dorosli3: $(".adults3").val(),
                    dzieci3: $(".kids3").val(){% if rezerwacja_do_edycji %},
                    kod: "{{ rezerwacja_do_edycji.kod }}"{% else %},
                    kod: ""{% endif %}
                };
            $.ajax({
                type: "GET",
                // dataType: "html",
                url: "{% url 'hotel:rezerwacje_sprawdz' %}",
                data: toSend
            })
                .done(function(data) {
                    var parsed = $.parseJSON(data);
                    // Patrzymy na tyle pokojow ile mamy zaznaczone i czy sa tam liczby
                    var error = "";
                    for ( var i = 1; i <= $(".rooms").val(); i++ ) {
                        var cur_pokoj = "pokoj" + i
                        if (parsed[cur_pokoj]) {
                            if (!$.isNumeric(parsed[cur_pokoj])) {

                                // Jesli w otrzymanym JSONie pod haslem 'pokojN' nie ma liczby (pk pokoju)
                                // to znaczy ze jest jakis blad, wiec wypisujemy stosowny message
                                if (parsed[cur_pokoj] == "not_checked") {
                                    error += "Pokoj " + i + " nie zostal zweryfikowany przez serwer.<br />";
                                } else if (parsed[cur_pokoj] == "zero_selected") {
                                    error += "W pokoju nr " + i + " jest wybrane 0 osob.<br />";
                                } else if (parsed[cur_pokoj] == "over_max_capacity") {
                                    error += "Pokoj " + i + " - za duzo osob.<br />";
                                } else if (parsed[cur_pokoj] == "no_free_rooms") {
                                    error += "Pokoj " + i + " - brak wolnych pokojow.<br />";
                                } else {
                                    error += "Wystapil blad ktory powinien nie istniec.<br />";
                                }

                            }

                        } else {
                            // Mimo zaznaczonej ilosci pokojow z jakiegos powodu nie dostalismy w ogole
                            // informacji o n-tym pokoju od serwera
                            error += "Pokoj " + i + " - blad po stronie serwera.<br />"
                        }
                    }

                    // Jesli byly bledy zwiazane z jakims pokojem to wypisujemy na stronie
                    $(".error").html(error);
                    var lines = $(".error").find("br").length * 28;
                    if (lines == 0) {
                        $(".error").animate({
                            "height": "0",
                        });
                    } else {
                        $(".error").animate({
                            "height": lines,
                        });
                    }
                    if (error == "" && parsed["cena"]) {
                        $(".price").text(parsed["cena"]);
                    } else {
                        $(".price").text("-");
                    }
                })
                .fail(function(xhr, textStatus, errorThrown) {
                    //alert("Error: " + errorThrown + xhr.status + xhr.responseText);
                });
                return true;
        } else {
            $(".date-to").parent().removeClass("positive-input");
            $(".date-to").parent().addClass("negative-input");
            if ($(".dateTo-error").text() == "") {
                $(".dateTo-error").text("Za wczesna data wyjazdu.");
            }
            $(".dateTo-error").animate({
                "height": "28px",
            });
            return false;
        }
    } else {
        $(".date-from").parent().removeClass("positive-input");
        $(".date-from").parent().addClass("negative-input");
        if ($(".dateFrom-error").text() == "") {
            $(".dateFrom-error").text("Za wczesna data przyjazdu.");
        }
        $(".dateFrom-error").animate({
            "height": "28px",
        });
        return false;
    }
}

$(".send").click(function() {
    if (sprawdzPoprawnosc() && validateName($('input[name=name]')) && validateEmail($('input[name=email]'))) {
        {% if rezerwacja_do_edycji %}
        $("form").ajaxForm(function(data) {
            // alert(data);
        });

        {% else %}
        $("form").ajaxForm(function(data) {
            var parsed = $.parseJSON(data);

            if (parsed["message"] && parsed["message"] == "success") {
                if (parsed["kod"]) {
                    $(".success p").html("Udalo sie zarezerwowac!<br /><br >Twoj kod rezerwacji to: <span>" + parsed["kod"] + "</span>");
                } else {
                    $(".success p").html("Udalo sie zarezerwowac!<br /><br >Serwer nie wyslal kodu rezerwacji!");
                }
                $(".close").attr("class", "close");
            } else if (parsed["message"] && parsed["message"] == "validation_error") {
                $(".success p").html("Nie mozna zarezerwowac tego pokoju na ten termin.");
                $(".close").attr("class", "close no-reload");
            } else if (parsed["message"] && parsed["message"] == "site_error") {
                $(".success p").html("Serwer otrzymal uszkodzone dane.");
                $(".close").attr("class", "close no-reload");
            } else {
                $(".success p").html("Stalo sie cos czego nawet programista nie przewidzial.");
                $(".close").attr("class", "close no-reload");
            }
            $(".success").fadeIn(200);
        });
        {% endif %}
        $("form").submit();
    }
});
{% if rezerwacja_do_edycji %}
$(".cancel").click(function() {
    $(".cancel-confirm").fadeIn(200);
});

$(".confirm-yes").click(function() {
    var sendData = {
        csrfdmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val(),
        code: "{{ rezerwacja_do_edycji.kod }}"
    }
    $.ajax({
        type: "GET",
        url: "{% url 'hotel:rezerwacje_anuluj' %}" + "{{ rezerwacja_do_edycji.kod }}" + "/",
        data: sendData
    })
        .done(function(data) {
            $(".cancel-confirm").fadeOut(200);
            if (data == "success") {
                $(".success p").html("Rezerwacja zostala anulowana.");
                $(".close").attr("class", "close");
            } else if (data == "date") {
                $(".success p").html("Nie mozesz anulowac rezrwacji, ktora sie juz rozpoczela.<br />Skontaktuj sie z pracownikiem hotelu.");
                $(".close").attr("class", "close no-reload");
            } else {
                $(".success p").html("Wystapil blad podczas anulowania rezerwacji. Sproboj ponownie.");
                $(".close").attr("class", "close no-reload");
            }
            $(".success").fadeIn(200);
        })
        .fail(function(xhr, textStatus, errorThrown) {
            //alert("Error: " + errorThrown + xhr.status + xhr.responseText);
        });
});

$(".confirm-no").click(function() {
    $(".cancel-confirm").fadeOut(200);
});
{% endif %}

$(".close").click(function() {
    $(".success").fadeOut(200);
    if (!$(".close").hasClass("no-reload")) {
        window.location = "{% url 'hotel:rezerwacje' %}";
    }
});

{% if liczba_pokoi or uslugi or rezerwacja_do_edycji %}
$(document).ready(function() {
    $(".rooms").val("{{ liczba_pokoi }}").trigger("change");
    $(".send").html( "Edytuj rezerwacje" );

    {% if uslugi %}
    $(".additions h2").trigger("click");
    {% endif %}

    {% if doroslych1 %}
    $(".adults1").val("{{ doroslych1 }}");
    {% else %}
    $(".adults1").val("0");
    {% endif %}

    {% if doroslych2 %}
    $(".adults2").val("{{ doroslych2 }}");
    {% else %}
    $(".adults2").val("0");
    {% endif %}

    {% if doroslych3 %}
    $(".adults3").val("{{ doroslych3 }}");
    {% else %}
    $(".adults3").val("0");
    {% endif %}

    {% if dzieci1 %}
    $(".kids1").val("{{ dzieci1 }}");
    {% else %}
    $(".kids1").val("0");
    {% endif %}

    {% if dzieci2 %}
    $(".kids2").val("{{ dzieci2 }}");
    {% else %}
    $(".kids2").val("0");
    {% endif %}

    {% if dzieci3 %}
    $(".kids3").val("{{ dzieci3 }}");
    {% else %}
    $(".kids3").val("0");
    {% endif %}

    {% if rezerwacja_do_edycji %}
    $("form").attr("action", "{% url 'hotel:rezerwacje_wyslij' %}" + "{{ rezerwacja_do_edycji.kod }}" + "/");
    {% endif %}
})
{% endif %}

$(".date-from").focus(function() {
    var w = $(".reservations-content").width();
    if (w < 634) {
        $(".calendar-from").fadeIn();
    }
});

$(".date-to").focus(function() {
    var w = $(".reservations-content").width();
    if (w < 634) {
        $(".calendar-to").fadeIn();
    }
});

$(".date-from").focusout(function() {
    sprawdzPoprawnosc();
    var w = $(".reservations-content").width();
    if (w < 634) {
        $(".calendar-from").fadeOut();
    }
});

$(".date-to").focusout(function() {
    sprawdzPoprawnosc();
    var w = $(".reservations-content").width();
    if (w < 634) {
        $(".calendar-to").fadeOut();
    }
});

{% if poczatek_pobytu %}
    var poczatek_pobytu = new Date("{{ poczatek_pobytu }}");
{% endif %}

{% if koniec_pobytu %}
    var koniec_pobytu = new Date("{{ koniec_pobytu }}");
{% endif %}

$(".datepicker-from").datepicker({
    onSelect: function() {
        sprawdzPoprawnosc();
        updateNights();
    },
    {% if poczatek_pobytu %}defaultDate:  poczatek_pobytu,{% endif %}
    altField: ".date-from",
});
$(".datepicker-to").datepicker({
    onSelect: function() {
        sprawdzPoprawnosc();
        updateNights();
    },
    defaultDate: +1,
    {% if koniec_pobytu %}defaultDate: koniec_pobytu,{% endif %}
    altField: ".date-to",
});

</script>

{% endblock %}