{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}Wiadomosci{% endblock %}

{% block extrahead %}

<script src="{% static 'Hotel/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'Hotel/js/jquery.form.js' %}"></script>

<script>

$( document ).ready(function() {
    $(".send").click(function() {

        var first_class = jQuery(this).attr('class').split(' ')[0];
        var pk = parseInt(first_class.substring(5));

        var toSend{
            csrfdmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val(),
            pk: pk
        }

        $.ajax({
            type: "GET",
            // dataType: "html",
            url: "{% url 'admin_custom:wiadomosci' %}"+pk+"/",
            data: toSend
        })

        $("form."+temp).ajaxForm(function(data) {
            var parsed = $.parseJSON(data);

            if(parsed["message"] && parsed["message"] == "success") {
                $(".success p").html("Wiadomosc zostala wyslana!<br /><br />");
            }
            else if (parsed["message"] && parsed["message"] == "site_error") {
                $(".success p").html("Serwer otrzymal uszkodzone dane.");
            }
            else if (parsed["message"] && parsed["message"] == "empty_field") {
                $(".success p").html("Nie mozesz wyslac pustej wiadomosci!");
            }else {
                $(".success p").html("Nieprzewidziany blad");
            }
            $(".success").fadeIn(200);
        });
        $("form."+temp).submit();
    });

    $(".close").click(function() {
        $(".success").fadeOut(200);
    });

});
</script>

{% endblock %}

{% block breadcrumbs %}

    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
    <a href="../">{% trans 'Hotel' %}</a> &rsaquo;
    {% trans 'Wiadomosci' %}
    </div>

{% endblock %}

{% block content %}

<div id="messages">

    <h1>Wiadomosci</h1>

    <div class="messages-content">

        {% if wiadomosci %}
        <ul>
            {% for wiadomosc in wiadomosci %}
            <li>

                <div class="message">
                    <p>Wiadomosc od: {{ wiadomosc.nazwisko }}</p>
                    <p>E-mail: {{ wiadomosc.email }}</p>
                    <p>Tresc: {{ wiadomosc.tresc }}</p>
                    <p>Data: {{ wiadomosc.data }}</p>
                    <input type="checkbox" name="delete" value="delete"/>
                </div>

                <form action="" method="post" class="form-{{ wiadomosc.pk }}">
                    {% csrf_token %}

                    <div class="answer">

                        <p>Twoja odpowiedz do: {{ wiadomosc.nazwisko }}</p>
                        <p>{{ wiadomosc.odpowiedz }}</p>

                        <p>Checkbox jest zaznaczony. Cos na to trzeba zrobic.</p>

                        <p>Twoja odpowiedz do: </p><input type="email" name="email_address" value="{{ wiadomosc.email }}" />
                        <textarea name="msg"></textarea>
                        <a class="form-{{ wiadomosc.pk }} send">Wyslij</a>

                    </div>

                </form>

            </li>
            {% endfor %}
        </ul>
        {% else %}
        <!-- to powinno pewnie zostac zamienione na cos rozsadniejszego -->
        <p>Brak wiadomosci.</p>
        {% endif %}



    </div>

</div>

<div class="success">

    <p></p>
    <span class="close"/>

</div> <!-- .success -->

{% endblock %}
