{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}Wiadomosci{% endblock %}

{% block breadcrumbs %}

    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
    <a href="../">{% trans 'Hotel' %}</a> &rsaquo;
    {% trans 'Wiadomosci' %}
    </div>

{% endblock %}

{% block content %}

<div id="messages">

    <h1>Wiadomosci</h1>

    <div class="messages-content">

        {% if wiadomosci %}
        <ul>
            {% for wiadomosc in wiadomosci %}
            <li>
                <div class="message">
                    <p>Wiadomosc od: {{ wiadomosc.nazwisko }}</p>
                    <p>E-mail: {{ wiadomosc.email }}</p>
                    <p>Tresc: {{ wiadomosc.tresc }}</p>
                    <p>Data</p>
                    <input type="checkbox" name="delete" value="delete"/>
                </div>
                <div class="answer">
                    {% if wiadomosc.odpowiedz %}
                    <p>Twoja odpowiedz do: {{ nazwisko }}</p>
                    <p>{{ wiadomosc.odpowiedz }}</p>
                    {% elif wiadomosc.wyslano_odpowiedz %}
                    <p>Checkbox jest zaznaczony. Cos na to trzeba zrobic.</p>
                    {% else %}
                    <p>Twoja odpowiedz do: {{ nazwisko }}</p>
                    <textarea></textarea>
                    <a>Wyslij</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <!-- to powinno pewnie zostac zamienione na cos rozsadniejszego -->
        <p>Brak wiadomosci.</p>
        {% endif %}



    </div>

</div>

{% endblock %}