{% extends "Hotel/base.html" %}

{% load staticfiles %}

{% block title %}Hotel Messiah - Wizualizacja{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'Hotel/flexslider.css' %}" type="text/css">

<div id="visualization">

    <div class="title">
        <h1>Wizualizacja</h1>
    </div> <!-- .title -->

    <div class="visualization-content">

        <div class="rooms">

            <h2>Pokoje jedno-osobowe</h2>
            <ul>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
            </ul>

            <h2>Pokoje dwu-osobowe</h2>
            <ul>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
            </ul>

            <h2>Pokoje trzy-osobowe</h2>
            <ul>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                    <div class="desc">
                        <img src="{% static 'Hotel/img/room1.jpg' %}" alt="room"/>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt."</p>
                    </div>
                </li>
            </ul>

        </div>

        <div class="gallery">

            <h2>Galeria</h2>

            <div class="flexslider">
              <ul class="slides">
                <li>
                  <img src="{% static 'Hotel/img/room1.jpg' %}" />
                </li>
                <li>
                  <img src="{% static 'Hotel/img/room2.jpg' %}" />
                </li>
                <li>
                  <img src="{% static 'Hotel/img/room3.jpg' %}" />
                </li>
              </ul>
            </div>

        </div>

    </div>

</div>

<script src="{% static 'Hotel/js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'Hotel/js/jquery.flexslider.js' %}"></script>

<script>
    $('.flexslider').flexslider({
        slideshow: true,
        animation: "slide",
        pauseOnHover: true,
        itemWidth: 820,
    });
</script>

{% endblock %}