{% extends "Hotel/base.html" %}

{% load staticfiles %}

{% block title %}Hotel Messiah - Wizualizacja{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'Hotel/flexslider.css' %}" type="text/css">

<div id="visualization">

    <div class="title">
        <h1>Wizualizacja</h1>
    </div> <!-- .title -->
    {% csrf_token %}

    <div class="visualization-content">

        <div class="rooms">

            <h2>Pokoje</h2>

            {% if pokoje and rozmiary %}
            {% for r in rozmiary %}
            <h3 class="caption">{{ r }}-osobowe</h3>
            <ul>{% for p in pokoje %}{% if p.pokoj.rozmiar == r %}<!--
                --><li>
                    <img src="{{ p.zdjecie.url }}" alt="room" class="room-image room{{ p.pokoj.pk }}" />
                    <div class="desc">
                        <img src="{{ p.zdjecie.url }}" alt="room"/>
                        <p>{{ p.pokoj.opis }}</p>
                    </div>
                </li>{% endif %}{% endfor %}
            </ul>
            {% endfor %}
            {% endif %}

        </div> <!-- .rooms -->

        <div class="gallery">

        </div> <!-- .gallery -->

    </div> <!-- visualisation-content -->

</div> <!-- visualisation -->

{% endblock %}

{% block scripts %}

<script src="{% static 'Hotel/js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'Hotel/js/jquery.flexslider.js' %}"></script>

<script>
$(".room-image").click(function() {
    var secondClass = $(this).attr("class").split(" ")[1];
    var roomPk = secondClass.substring(4, secondClass.length);

    var sendData = {
        csrfdmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val(),
        pk: roomPk
    };
    $.ajax({
        type: "GET",
        url: "{% url 'hotel:wizualizacja' %}" + roomPk + "/",
        data: sendData
    })
        .done(function(data) {
            $(".gallery").html(data);
            $(".flexslider").flexslider({
                slideshow: true,
                animation: "slide",
                pauseOnHover: true,
                itemWidth: 820,
            });
        })
        .fail(function(xhr, textStatus, errorThrown) {
            alert("Error: " + errorThrown + xhr.status + xhr.responseText);
        });
});
</script>

{% endblock %}