{% extends "Hotel/base.html" %}

{% load i18n staticfiles %}

{% block title %}Hotel Messiah - Wizualizacja{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'Hotel/jquery.bxslider.css' %}" type="text/css">

<div id="visualization">

    <div class="title">
        <h1>{% trans 'Wizualizacja' %}</h1>
    </div> <!-- .title -->
    {% csrf_token %}

    <div class="visualization-content">

        <div class="rooms">

            <h2>{% trans 'Pokoje' %}</h2>

            {% if pokoje and rozmiary %}
            {% for r in rozmiary %}
            <h3 class="caption">{% blocktrans count rooms=r %}{{ rooms }}-osobowe{% plural %}{{ rooms }}-osobowe_PL{% endblocktrans %}</h3>
            <ul>{% for p in pokoje %}{% if p.pokoj.rozmiar == r %}{% if not p.zajety and not p.niedostepny %}<!--

                Pokoje wolne najpierw
                --><li class="room-image room{{ p.pokoj.pk }}">
                    {% if p.zdjecie.url %}
                    <img src="{% if p.zdjecie %}{{ p.zdjecie.url }}{% endif %}" alt="{{ p.pokoj.opis_combo }}" class="gallery-image" />
                    {% else %}
                    <div class="gallery-image">{{ p.pokoj.opis_combo }}</div>
                    {% endif %}
                    <div class="desc">
                        {% if p.zdjecie.url %}
                        <img src="{% if p.zdjecie %}{{ p.zdjecie.url }}{% endif %}" alt="{{ p.pokoj.opis_combo }}" class="gallery-popup-image"/>
                        {% else %}
                        <div class="gallery-popup-image">{{ p.pokoj.opis_combo }}</div>
                        {% endif %}
                        <p>{{ p.pokoj.opis }}</p>
                    </div>
                </li>{% endif %}{% endif %}{% endfor %}<!--

                Pokoje zajete po wolnych
                -->{% for p in pokoje %}{% if p.pokoj.rozmiar == r %}{% if p.zajety or p.niedostepny %}<!--
                --><li class="room-image room{{ p.pokoj.pk }} disabled">
                    {% if p.zdjecie.url %}
                    <img src="{% if p.zdjecie %}{{ p.zdjecie.url }}{% endif %}" alt="{{ p.pokoj.opis_combo }}" class="gallery-image" />
                    {% else %}
                    <div class="gallery-image">{{ p.pokoj.opis_combo }}</div>
                    {% endif %}
                    <div class="desc">
                        {% if p.zdjecie.url %}
                        <img src="{% if p.zdjecie %}{{ p.zdjecie.url }}{% endif %}" alt="{{ p.pokoj.opis_combo }}" class="gallery-popup-image"/>
                        {% else %}
                        <div class="gallery-popup-image">{{ p.pokoj.opis_combo }}</div>
                        {% endif %}
                        <p>{{ p.pokoj.opis }}</p>
                    </div>
                </li>{% endif %}{% endif %}{% endfor %}
            </ul>
            {% endfor %}
            {% endif %}

        </div> <!-- .rooms -->

        <div class="gallery">

        </div> <!-- .gallery -->

    </div> <!-- visualisation-content -->

</div> <!-- visualisation -->

{% endblock %}

{% block scripts %}

<script src="{% static 'Hotel/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'Hotel/js/jquery.bxslider.js' %}"></script>

<script>
$(".room-image").click(function() {
    var secondClass = $(this).attr("class").split(" ")[1];
    var roomPk = secondClass.substring(4, secondClass.length);

    var sendData = {
        csrfdmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val(),
        pk: roomPk
    };
    $.ajax({
        type: "GET",
        url: "{% url 'hotel:wizualizacja' %}" + roomPk + "/",
        data: sendData
    })
        .done(function(data) {
            $(".gallery").html(data);
            $(".bxslider").bxSlider({
                adaptiveHeight: true,
            });
        })
        .fail(function(xhr, textStatus, errorThrown) {
            alert("Error: " + errorThrown + xhr.status + xhr.responseText);
        });
});

$(".wizualizacja_class").addClass("selected");
</script>

{% endblock %}