.gradient-vertical(@from: #000000, @to: #ffffff) {
    background: #1e5799;
    background: -moz-linear-gradient(top,  @from 0%, @to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to));
    background: -webkit-linear-gradient(top,  @from 0%,@to 100%);
    background: -o-linear-gradient(top,  @from 0%,@to 100%);
    background: -ms-linear-gradient(top,  @from 0%,@to 100%);
    background: linear-gradient(top,  @from 0%,@to 100%);
}

.gradient-horizontal(@from: #000000, @to: #ffffff) {
    background: #1e5799;
    background: -moz-linear-gradient(left,  @from 0%, @to 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,@from), color-stop(100%,@to));
    background: -webkit-linear-gradient(left,  @from 0%,@to 100%);
    background: -o-linear-gradient(left,  @from 0%,@to 100%);
    background: -ms-linear-gradient(left,  @from 0%,@to 100%);
    background: linear-gradient(left,  @from 0%,@to 100%);
}

html {
    min-height: 100%;
}

body {
    background-repeat: no-repeat;
    margin: 0;
    background: #1e5799;
    background: -moz-linear-gradient(left, #eda14a 0%, #ffd361 50%, #ffd361 50%, #eda14a 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eda14a), color-stop(50%,#ffd361),
                color-stop(50%,#ffd361), color-stop(100%,#eda14a));
    background: -webkit-linear-gradient(left, #eda14a 0%,#ffd361 50%,#ffd361 50%,#eda14a 100%);
    background: -o-linear-gradient(left, #eda14a 0%,#ffd361 50%,#ffd361 50%,#eda14a 100%);
    background: -ms-linear-gradient(left, #eda14a 0%,#ffd361 50%,#ffd361 50%,#eda14a 100%);
    background: linear-gradient(left, #eda14a 0%,#ffd361 50%,#ffd361 50%,#eda14a 100%);
}

.page {
    margin: 0 auto;
    width: 1000px;
}

#header {
    margin: 0;

    .header-wrapper {
        position: relative;
        .gradient-vertical(#003843, #08ae9d);

        &:before {
            background-image: url(img/header-left.png);
            bottom: -10px;
            content: " ";
            height: 100px;
            left: -10px;
            position: absolute;
            width: 100px;
            z-index: 1;
        }

        &:after {
            background-image: url('img/header-right.png');
            bottom: -10px;
            content: " ";
            height: 100px;
            right: -10px;
            position: absolute;
            width: 100px;
            z-index: 1;
        }

    }

    a {
        display: inline;

        img {
            margin: 20px;
            vertical-align: middle;
        }

    }

    .ad-text {
        display: inline-block !important;
        font-size: 30px;
        margin: 0;
        width: 600px;

        p {
            margin: 0;
            text-align: center;
            vertical-align: middle;
        }

    }

    ul {
        margin: 0;
        padding: 0;
        position: relative;

        &:before {
            content: " ";
            background-image: url(img/border.jpg);
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

        li {
            display: inline-block;
            margin: 20px 0 0 0;

            a {
                background-image: url(img/button.jpg);
                display: block;
                line-height: 50px;
                height: 50px;
                text-align: center;
                width: 250px;

                &:hover {
                    background-position: 0 -50px;
                }

                &:active {
                    background-position: 0 -100px;
                }

                &.selected {
                    background-position: 0 -150px;
                }
            }
        }
    }
}

#footer {
    background-color: #9999ff;
    margin: 20px 0 0 0;
    position: relative;

    .footer-wrapper {
        position: relative;
        .gradient-vertical(#003843, #08ae9d);
        padding: 10px 60px 10px 60px;

        &:before {
            background-image: url('img/footer-left.png');
            top: -10px;
            content: " ";
            height: 100px;
            left: -10px;
            position: absolute;
            width: 100px;
            z-index: 1;
        }

        &:after {
            background-image: url('img/footer-right.png');
            top: -10px;
            content: " ";
            height: 100px;
            right: -10px;
            position: absolute;
            width: 100px;
            z-index: 1;
        }

    }

    &:before {
        content: " ";
        background-image: url(img/border.jpg);
        height: 20px;
        position: absolute;
        left: 0;
        top: -20px;
        width: 100%;
    }

    ul {
        display: inline-block;
        list-style-type: none;
        margin: 10px 0 10px 5px;
        padding: 0;
        vertical-align: text-top;
        width: 285px;

        &.submenu {
            text-align: center;
        }
    }

    .socials {
        display: inline-block;
        margin: 25px 0 0 75px;
        vertical-align: text-top;

        div {

            a {
                margin: 0 10px 0 0;
            }
        }
    }
}

#reservations {
    .gradient-vertical(#08ae9d, #003843);
    padding: 0 0 50px 0;

    .title {
        padding: 20px 0;
        text-align: center;

        h1 {
            background-image: url(img/title-head.jpg);
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            width: 600px;
        }
    }

    .reservations-content {
        background-image: url(img/pattern18.jpg);
        margin: 0 auto;
        position: relative;
        width: 900px;

        .code {

            label {
                display: block;
            }

            padding: 60px 60px 30px 60px;
            text-align: center;
        }

        &:before {
            background-image: url(img/content-nw2.png);
            top: -5px;
            content: " ";
            height: 100px;
            left: -5px;
            position: absolute;
            width: 100px;
            z-index: 1;
        }

        &:after {
            background-image: url('img/content-se2.png');
            bottom: -5px;
            content: " ";
            height: 100px;
            right: -5px;
            position: absolute;
            width: 100px;
            z-index: 1;
        }

        form {
            padding: 30px;

            a {
                cursor: pointer;
                color: #0000ff;
            }

            &>table {
                vertical-align: text-top;

                .room2, .room3 {
                    opacity: 0;
                }
            }


            table input {
                padding: 1px 18px 1px 2px;
                width: 180px;
            }

            .positive-input {
                position: relative;

                &:after {
                    background: green;
                    content: "";
                    height: 12px;
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    width: 12px;
                    z-index: 1;
                }

                input {
                    border-color: green;
                }
            }

            .negative-input {
                position: relative;

                &:after {
                    background: red;
                    content: "";
                    height: 12px;
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    width: 12px;
                    z-index: 1;
                }

                input {
                    border-color: red;
                }
            }

            .error-row {
                padding: 0;
            }

            .name-error {
                height: 0;
                margin: 0;
                overflow: hidden;
                text-align: right;
            }

            .email-error {
                height: 0;
                margin: 0;
                overflow: hidden;
                text-align: right;
            }

            .dateFrom-error {
                height: 0;
                margin: 0;
                overflow: hidden;
                text-align: right;
            }

            .dateTo-error {
                height: 0;
                margin: 0;
                overflow: hidden;
                text-align: right;
            }

            table .rooms {
                width: 204px;
            }

            table select {
                width: 77px;
            }

            &>table {
                display: inline-block;
                text-align: right;
            }

            .calendars {
                display: inline-block;
                margin: 0 0 0 20px;
                position: relative;

                .ui-datepicker {
                    border-style: solid;
                    border-width: 30px;
                    border-image: url(img/kalendarzr-ramka.png) 30 repeat;
                }

                .calendar-to {
                    margin-left: 50px;
                }

                p {
                    margin: 0;
                }

                &>div {
                    position: absolute;
                    top: -12px;
                }

                .calendar-to {
                    left: 200px;
                }
            }

            .submit-button {
                display: block;
            }

            .additions {
                overflow: hidden;

                h2 {
                    background-image: url(img/label.jpg);
                    line-height: 50px;
                    padding: 0 0 0 10px;
                    position: relative;

                    img {
                        height: 29px;
                        position: absolute;
                        right: 20px;
                        top: 10px;
                        width: 57px;
                    }
                }

                div {
                    display: inline-block;
                    vertical-align: text-top;
                    width: 48%;
                }

                ul {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .summary {

            textarea {
                resize: none;
            }

            .send {
                background: none;
                border: 1px red solid;
                display: block;
                margin: 0 auto;
                cursor: pointer;
                text-align: center;
            }
        }
    }
}

#visualization {
    .gradient-vertical(#08af9d, #1e777f);
    padding: 0 0 50px 0;

    .title {
        padding: 20px 0;
        text-align: center;

        h1 {
            background-image: url(img/title-head.jpg);
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            width: 600px;
        }
    }

    .visualization-content {
        background-color: #ecc176;
        margin: 0 auto;
        position: relative;
        width: 900px;

        &:before {
            background-image: url(img/content-nw.png);
            top: -10px;
            content: " ";
            height: 200px;
            left: -10px;
            position: absolute;
            width: 200px;
            z-index: 1;
        }

        &:after {
            background-image: url('img/content-se.png');
            bottom: -10px;
            content: " ";
            height: 200px;
            right: -10px;
            position: absolute;
            width: 200px;
            z-index: 1;
        }

        .rooms {
            padding: 80px 30px 30px 30px;

            h2 {
                margin: 0 0 50px 100px;
                font-size: 40px;
                text-align: center;
            }

            .caption {
                border: none;
                float: left;
            }

            ul {
                margin: 0 0 0 100px;
                list-style: none;
                text-align: center;
                padding: 0 30px;
                position: relative;

                li {
                    border: 2px solid #800000;
                    display: inline-block;
                    height: 75px;
                    position: relative;
                    vertical-align: text-top;
                    width: 150px;

                    &.disabled:after {
                        background-color: rgba(100, 100, 100, 0.75);
                        background-image: url('img/disabled-room.png');
                        content: "";
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }

                    &:hover .desc {
                        display: block;
                    }

                    .desc:hover {
                        display: none;
                    }

                    &>img {
                        cursor: pointer;
                        height: 75px;
                        width: 150px;
                    }

                    .desc {
                        background: white;
                        display: none;
                        width: 600px;
                        position: absolute;
                        bottom: 100%;
                        z-index: 2;
                        border-radius: 25px;
                        -moz-border-radius: 25px;
                        -webkit-border-radius: 25px;
                        border: 2px solid #800000;
                        text-align: left;

                        img {
                            display: inline-block;
                            float: left;
                            height: 150px;
                            padding: 10px;
                            width: 300px;
                            border-radius: 25px;
                            -moz-border-radius: 25px;
                            -webkit-border-radius: 25px;
                        }

                        p {
                            diplay: inline;
                            padding: 10px;
                        }
                    }
                }
            }
        }

        .gallery {
            padding: 0 0 60px 0;

            .flexslider {
                height: 500px;
                margin: auto;
                width: 780px;

                img {
                    height: 500px;
                    margin: 0;
                    padding: 0;
                    width: 780px;
                }
            }

            h2 {
                text-align: center;
            }

            ul {
                list-style: none;
            }

            ol {
                list-style: none;
            }
        }

    }

}

#pricing{
    .gradient-vertical(#08ae9d, #003843);
    padding: 0 0 50px 0;

    .title {
        padding: 20px 0;
        text-align: center;

        h1 {
            background-image: url(img/title-head.jpg);
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            width: 600px;
        }
    }

    .pricing-content{
        background-image: url(img/pattern18.jpg);
        text-align: center;
        width: 900px;
        margin: 0 auto;
        position: relative;

        &:before {
            background-image: url(img/content-nw2.png);
            top: -5px;
            content: " ";
            height: 100px;
            left: -5px;
            position: absolute;
            width: 100px;
            z-index: 1;
        }

        &:after {
            background-image: url('img/content-se2.png');
            bottom: -5px;
            content: " ";
            height: 100px;
            right: -5px;
            position: absolute;
            width: 100px;
            z-index: 1;
        }

        .tab-content{

            ul{
                list-style-type: none;

                li{
                    list-style-type: none;
                    display: block;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;

                    p{
                        padding: 0;
                        margin: 0;
                    }
                }

                .inline-block{
                    display: inline-block;
                }

                li.pic{
                    display: block;

                    img{
                        max-width: 259px;
                        max-height: 194px;
                    }
                }

                li.description{
                    display: block;

                    p{
                        margin-bottom: 10px;
                    }
                }
            }

            .nazwa{
                float: left;
                width: 200px;
                margin: 15px 10px 15px 10px;

            }

            .cena{
                float: left;
                width: 110px;
                margin: 15px 10px 15px 10px;
            }

            .opis{
                float: left;
                max-width: 300px;
                margin: 15px 10px 15px 10px;
            }

            .dostepnosc{
                float: left;
                width: 100px;
                margin: 15px 10px 15px 10px;
            }

            .nav{
                margin: 50px 0 100px 0;

                a{
                    text-decoration: none;
                    font-weight: bold;
                    margin: 0 20px 0 20px;
                    color: blue;
                }
            }
        }

        h2{
            font-weight: bold;
            font-size: 40px;
            margin: 20px 0 20px 0;
            padding: 0;
        }
    }

    .scroll-up{
        width: 98px;
        height: 98px;
        position: fixed;
        bottom: 100px;
        right: 20px;
        display: none;
        text-indent: -99999px;
        background: url(img/scroll-up.png) no-repeat;
        background-color: none;
        z-index: 999;
    }
}