body {
    margin: 0;
}

.page {
    margin: 0 auto;
    width: 1000px;
}

#header {
    background-color: #9999ff;
    margin: 0;

    a {
        display: inline;

        img {
            margin: 20px;
            width: 300px;
            height: 150px;
            vertical-align: middle;
        }

    }

    .ad-text {
        display: inline-block;
        font-size: 30px;
        margin: 0;
        width: 600px;

        p {
            margin: 0;
            text-align: center;
            vertical-align: middle;
        }

    }

    ul {
        margin: 0;
        padding: 0;
        position: relative;

        &:before {
            content: "border";
            background-image: url(img/placeholder.png);
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

        li {
            display: inline-block;
            margin: 20px 0 0 0;

            a {
                background-image: url(img/placeholder.png);
                display: block;
                height: 50px;
                width: 250px;
            }
        }
    }
}

#footer {
    background-color: #9999ff;
    margin: 20px 0 0 0;
    position: relative;

    &:before {
            content: "border";
            background-image: url(img/placeholder.png);
            height: 20px;
            position: absolute;
            left: 0;
            top: -20px;
            width: 100%;
        }

    ul {
        display: inline-block;
        list-style-type: none;
        margin: 10px 0 10px 10px;
        padding: 0;
        vertical-align: text-top;
        width: 300px;

        &.submenu {
            text-align: center;
        }
    }

    .socials {
        display: inline-block;
        margin: 25px 0 0 100px;
        vertical-align: text-top;

        div a {
            margin: 0 10px 0 0;
        }
    }
}

#reservations {
    background-color: #ff5555;
    padding: 0 0 50px 0;

    .title {
        padding: 20px 0;
        text-align: center;

        h1 {
            margin: 0;
        }
    }

    .reservations-content {
        background-color: #55ff55;
        margin: 0 auto;
        width: 900px;

        form {
            padding: 50px;

            &>table {
                height: 280px;
                vertical-align: text-top;

                .room2, .room3 {
                    display: none;
                }
            }

            table input {
                width: 200px;
            }

            table .rooms {
                width: 204px;
            }

            table select {
                width: 77px;
            }

            &>table {
                display: inline-block;
                text-align: right;
            }

            .calendars {
                display: inline-block;
                margin: 0 0 0 50px;
                position: relative;

                p {
                    margin: 0;
                }

                &>div {
                    position: absolute;
                    top: 0;
                }

                .calendar-to {
                    left: 200px;
                }
            }

            .additions {

                div {
                    display: inline-block;
                    vertical-align: text-top;
                    width: 45%;
                }

                ul {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .summary {

            textarea {
                resize: none;
            }

            a {
                display: block;
                text-align: center;
            }
        }
    }
}