{% extends "../../Hotel/templates/Hotel/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

<div id="error">

    <div class="title">

        <h1>{% trans 'Missing page' %}</h1>

    </div><!-- .title -->

    <div class="error-content">

        <h2>{% trans 'The page you requested does not exist.' %}</h2>

        <p>{% trans "Seriously, there's nothing here. Please, use menu to find what you are looking for." %}</p>

    </div> <!-- .error-content -->

</div> <!-- #404 -->
{% endblock %}