{% extends "../../Hotel/templates/Hotel/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

<div id="error">

    <div class="title">

        <h1>{% trans 'Server error' %}</h1>

    </div><!-- .title -->

    <div class="error-content">

        <h2>{% trans 'Something horribly wrong is going on.' %}</h2>

        <p>{% trans "An error occured on the server side. But fear not. Special forces have been informed to take care of it." %}</p>

    </div> <!-- .error-content -->

</div> <!-- #error -->
{% endblock %}